//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- scripts

script(src="#{assets['jquery'][env]}")
script(src="#{assets['isotope'][env]}")
script(src="#{assets['moment'][env]}")
script(src="#{assets['webfont'][env]}")
//- script(src="#{assets['jquery'][env]}", integrity="#{assets['jquery']['integrity']}", crossorigin="anonymous")
//- script(src="#{assets['isotope'][env]}", integrity="#{assets['isotope']['integrity']}", crossorigin="anonymous")
//- script(src="#{assets['moment'][env]}", integrity="#{assets['moment']['integrity']}", crossorigin="anonymous")
//- script(src="#{assets['webfont'][env]}", integrity="#{assets['webfont']['integrity']}", crossorigin="anonymous")
script(src="#{assets['vine'][env]}")
script(src="#{assets['file-api'][env]}")
script(src="#{assets['file-api-exif'][env]}")
script(src="#{assets['slip'][env]}")
script(src="#{assets['lista-js'][env]}")
